html {
    font-family: 'Montserrat', sans-serif;
}

/* Propiedades del encabezado*/
header{
    font-family: Rockwell Std Extra Bold;
    background-color: #364552;
    color:white;
    padding: 1rem 1rem;

}

 /*Titulo de la pagina dentro del body*/
header h1 {
    margin: o auto;
    font-size: 2rem;
    text-align: center;
}
/*Propiedades de redes sociales*/
#redes {
    float: right;
    display: flex;
    justify-content: space-around;
    box-sizing: content-box;
}
/*Propiedades de todas las etiquetas a = redes*/
header section a {
    text-decoration: none;
    font-size: 25px;
    width: 50px;
    height: 50px;
    text-align: center;
    background: white;
    color: #314652;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.5);
    transition: all 0.4s ease-in-out;
  
}

header section a:hover {
    transform: scale(1.5);
}

.fondo {
    background-color: rgb(231, 238, 238);
    margin: 10px; 
    padding: 30px; 
    border: inset 2px gold;
    border-radius: 5px;
    outline: 1px solid goldenrod;
}

#logo {
    float: right;
    border: 5px gold outset;
    margin: 15px;
    outline: solid goldenrod; 
}

footer {
    font-size: small;
    background-color: #364552;
    padding: 4rem;
    color: white;
}

#datos {
    margin: 0 auto;
    float: right;
}

footer p {
    margin: 0 auto;
    float: right;
}

footer section {
    float: left;
    margin: 0 auto;
    
}

footer a {
    transition: color 0.3s ease;
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: cornflowerblue;
}

