html {
    font-family: 'Montserrat', sans-serif;
}
/*Formatear Body*/
body {
    margin: 0;
    background-color: rgb(231, 238, 238);
}

/* Propiedades del encabezado*/
header{
    font-family: Rockwell Std Extra Bold;
    background-color: #364552;
    color:white;
    padding: 1rem 1rem;

}

 /*Titulo de la pagina dentro del body*/
header h1 {
    margin: o auto;
    font-size: 2.5rem;
    text-align: center;
}
/*Propiedades de redes*/
#redes {
    float: right;
    display: flex;
    justify-content: space-around;
    box-sizing: content-box;
}
/*Propiedades de pago*/
#pago {
    float: left;
    display: flex;
    justify-content: space-around;
    box-sizing: content-box;
}
/*Propiedades de todas las etiquetas a(redes, pagos)*/
header div a {
    size: 20px;
    text-decoration: none;
    width: 1.5rem;
    height: 1.5rem;
    text-align: center;
    background: white;
    color: #314652;
    border-radius: 50%;
    padding: 1rem;
    box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.5);
    transition: all 0.4s ease-in-out; 
}
/*Degradado iconos de redes y pagos */
header div a:hover {
    transform: scale(1.5);
}
/*Propiedades fondo del body*/
.fondo {
    background-color: rgb(231, 238, 238);
    background-size: cover;
    margin: 10px; 
    padding: 30px; 
    border: inset 2px gold;
    border-radius: 5px;
    outline: 1px solid goldenrod;
}
/*Propiedades del logo de Mónaco*/
#logo {
    float: right;
    border: 5px gold outset;
    margin: 30px 100px 0;
    outline: solid goldenrod; 
}
/*Propiedades botones_menu*/
.botones_menu {
    font-size: 1.5rem;
    height: 100px;
    width: 200px;
    border: 5px #364552 outset;
    outline: solid rgb(94, 94, 190);
    margin-bottom: 2.5px;
    padding-bottom: 2.5px;
    transition: all 0.4s ease-in-out; 
}
.botones_menu:hover {
    transform: scale(1.2);
}
/*Propiedades Nombre de usuario*/
#nombre_usuario {
    float: right;
    color: #314652;
    margin-right: 100px;

    padding: 0.8rem;
    border: 5px gold outset;
    outline: solid goldenrod; 
}

/*Propiedades generales del footer*/
footer {
    font-size: small;
    background-color: #364552;
    padding: 4rem;
    color: white;
}

#datos {
    margin: 0 auto;
    float: right;
}
/*Propiedades de los datos de contacto*/
footer p {
    margin: 0 auto;
    float: right;
}
/*Propiedades de hipervinculos y copyright*/
footer div {
    float: left;
    margin: 0 auto;
    
}
/*Propiedades de los hipervinculos*/
footer a {
    transition: color 0.3s ease;
    color: white;
    text-decoration: none;
}
/*Propiedades de los hipervinculos*/
footer a:hover {
    color: cornflowerblue;
}

